page {
  height: 100vh;
  background-color: #efefef !important;
  padding: 16rpx;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

  > view {
    &:nth-child(n + 2) {
      margin-top: 16rpx;

    }
  }
}
// 轮播图区域样式
.swiper {
  border-radius: 10rpx;
  overflow: hidden;
  swiper {
    height: 360rpx;
    background-color: skyblue;
  }

  swiper-item{
    image {
      width: 100%;
      height: 100%;
      border-radius: 10rpx;
    }
    // &在 sass 中代表的是父选择器，引用的意思
    // swiper-item:first-child
    &:first-child {
      background-color: orange;
    }
    &:last-child {
      background-color: yellow;
    }
  }
}
.info {
  display: flex;
  justify-content: space-between;
  background-color: rgb(252, 252, 252);
  padding: 16rpx;
  border-radius: 10rpx;
  font-size: 24rpx;
}
// 搜索栏外层容器
.search-container {
  width: 100%;
  padding: 20rpx 30rpx;
  background-color: #f5f5f5;                       //外层背景色，稍微灰一点衬托白色搜索框
  box-sizing: border-box;
}
// 搜索框主体
.search-box {
  display: flex;
  align-items: center;                                //垂直居中      
  background-color: #ffffff;                        //背景颜色
  border-radius: 15rpx;                               //四个角
  padding: 15rpx 25rpx;                               //内边距
  box-shadow: 0 4rpx 10rpx  rgba(0,0,0, 0.05);      //淡淡的阴影，增加立体感
}
//搜索图标
.search-icon {
  margin-right: 15rpx;                                //文字很图标的间距
}
//提示文字
.search-placeholder {
  font-size: 28rpx;
  color: #999999;
}